body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}


/* parallax setting */
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  background-image: url('./images/bg.png');
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#wrapper {
  text-align: center;
}

#map {
  display: inline-block;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.leftblogcolumn {
  float: left;
  width: 75%;
  padding-left: 20px;
}

.rightblogcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
}

.blogsinglecolumn {
  float: left;
  width: 75%;
  padding-left: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  background-color:#f1f1f1;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subcard {
  background-color:#e1e1e1;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}