body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}


/* parallax setting */
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  background-image: url('./images/bg.png');
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#wrapper {
  text-align: center;
}

#map {
  display: inline-block;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.leftblogcolumn {
  float: left;
  width: 75%;
  padding-left: 20px;
}

.rightblogcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
}

.blogsinglecolumn {
  float: left;
  width: 75%;
  padding-left: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  background-color:#f1f1f1;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subcard {
  background-color:#e1e1e1;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.codeblock {
  background-color: #ffffff;
  border: 1px solid #000000;
  font-family: consolas;
  display: block;
  padding: 10px;
  width:auto;
  border-left:4px solid #0044ff;
}

.mybutton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.mybutton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.mybutton:active {
	position:relative;
	top:1px;
}
